/*
* @Author: 孙宇鹏
* @Date:   2018-01-01 20:34:30
* @Last Modified by:   孙宇鹏
* @Last Modified time: 2018-01-01 20:37:37
*/
.footer{
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}